body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Custom Styles*/
/* .wrapper {padding: 10px;} */
.div-wrapper {padding: 5px 0;}
.div-wrapper label {width: 60px;display: inline-block;}
/* .div-wrapper > input, button {padding: 8px;} */
.div-wrapper.qty > input {width: 30px;text-align: center;}
.div-wrapper button {width: 35px;}
.item-list {padding: 10px;list-style: none;}
.item-list .item {
  padding: 15px 10px;margin-bottom: 15px;border-radius: 2px;
  border-bottom: 1px solid #eee;box-shadow: 0 2px 4px 2px #ccc;
  cursor: pointer;
}

.image-item img {
  aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #111;
}
h2 {
  font-weight: 700;
  color: #2685ad;
  font-size: 1.6rem;
  line-height: 1.2;
}

p {
  color: #0e3e52;
  margin-top: 15px;
  margin-bottom: 35px;
}

.slider-click button {
  width: 20px;
    height: 20px;
    border-radius: 50%;
    border: navajowhite;
    margin: 10px 10px;
    font-weight: bold;
    color: white;
    background: #a39e9e;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider-click button:focus {
  background-color: gray;
}

.slider-click {
  display: flex;
  justify-content: center;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f0ebe7;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  color: #2685ad;
}

@media (min-width: 700px) {
  .sidenav .closebtn {
    display: none;
  }
}

.sidenav .closebtn:hover {
  color: #111;
}

.sidenav-logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2685ad;
}

.sidenav-logo a:hover {
  color: #111;
}

#mySidenav.active {
  width: 100%;
}

@media (min-width: 700px) {
  #mySidenav.active {
    width: 350px;
  }
}

.sidenav-btn_view {
  font-size: 1rem;
  display: inline-block;
  font-weight: 700;
  color: #2685ad;
  padding-top: min(20vh, 2rem);
}

.sidenav-content {
  padding-block: min(20vh, 2rem);
  margin: 3.5rem 3rem;
}



#main {
  transition: margin-left 0.5s;
  padding: 2.5rem 3rem;
  height: 100vh;
  min-height: 630px;
  background: url("https://cdn.pixabay.com/photo/2020/02/04/06/16/watercolour-4817390_960_720.jpg") no-repeat 50% 50% / cover;
  background-position: top center;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

@media (min-width: 600px) {
  #main {
    padding: 2.5rem 3rem;
    justify-content: end;
  }
}

@media (min-width: 700px) {
  #main {
    padding: 3.5rem 5rem;
  }
}

#main .main-content {
  text-align: left;
}

#main .main-content h1 {
  text-transform: uppercase;
  font-size: clamp(2.6rem, calc(2.0435rem + 2.7826vw), 5rem);
  line-height: 1;
  color: #fff;
  text-shadow: 2px 2px 6px #000000a3;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  #main .main-content h1 {
    justify-content: end;
  }
}

#main .main-content p {
  color: #fff;
  text-shadow: 3px 1px 9px #000000;
}

@media (min-width: 600px) {
  #main .main-content p {
    max-width: 260px;
  }
}

#main ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

#main ul li i {
  font-size: 1.25rem;
  color: #fff;
  text-shadow: 1px 0px 10px #00000057;
}

#main ul li i:hover {
  color: #111;
}

#main .menu {
  background: white;
  position: relative;
  content: "";
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: -4px 1px 14px rgba(0, 0, 0, 0.22);
  margin-left: auto;
  display: grid;
  place-content: center;
  cursor: pointer;
}

#main.active {
  margin-left: 0;
}

@media (min-width: 700px) {
  #main.active {
    margin-left: 350px;
  }
}

#nav-icon {
  width: 28px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #111;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}

.react-responsive-modal-modal {
  background: transparent !important;
  box-shadow: none !important;
}
.react-responsive-modal-closeButton {
  display: none !important;
}

.react-responsive-modal-modal .image-item img {
  width: 400px !important;
  height: 400px !important;
}
.react-responsive-modal-modal .image-item {
  width: fit-content!important;
  height: fit-content !important;
  background-color: transparent;
}

.productView button {
  width: fit-content;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

@media screen and (max-width: 414px) {
  .react-responsive-modal-modal .image-item img {
    width: 300px !important;
    height: 300px !important;
  }
}
