

.rounded-background-box h1{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  font-size: 36px;
  font-weight: 600;
  color: #353535;
}

.rounded-background-box h3{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  font-size: 24px;
  font-weight: 300;
  color: #353535;
}

.rounded-background-box h2{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  font-size: 40px;
  font-weight: 600;
  color: #353535;
}

.rounded-background-box p{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.rounded-background-box {
  margin: 100px auto;
  /* width: 1200px; */
  height: 450px;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: -1px 6px 80px 10px rgba(197, 197, 197, 0.8);
  -moz-box-shadow: -1px 6px 80px 10px rgba(197, 197, 197, 0.8);
  box-shadow: -1px 6px 80px 10px rgba(197, 197, 197, 0.6);
  z-index:2;
}

.left-rounded-column {
  position: relative;
  float: left;
  border-radius: 25px 0px 0px 25px;
  width: 380px;
  height: 100%;
  background-image: linear-gradient(40deg, #f5576c 0%, #a642b2 100%);
 }

.right-rounded-column{
  position: relative;
  float: right;
 
  width: 818px;
   border-radius: 0px 25px 25px 0px;
}

.link-active{
  text-decoration: none;
  color: #ea5476;
}

.link{
  text-decoration: none;
  color: #353535;
}

.product-info{
  display: inline-block;
  position: relative;
  height: 60px;
  margin-top: 50px;
  margin-left: 50px;
}

.product-info p{
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.product-info h1{
  line-height: 40px;
}

.product-info h3{
  display: block;
  height: 30px;
  line-height: 26px;
  color: #7e7e7e;
}

.product{
  position: relative;
  width: 150px;
  height: auto;
  background-color: transparent;
  z-index: 100;
}

.tablet{
  position: absolute;
  top: -50px;
  left: calc(10%);
  width: 410px;
  height: auto;
  background-color: transparent;
  
  -webkit-filter: drop-shadow(rgba(58, 69, 108,0.5));
  filter: drop-shadow(20px 35px 35px rgba(58, 69, 108,0.5));
}

.float{
  animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

.cart-price{
  display: flex;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 720px;
}

.button1{
   display: block;
  position: relative;
  float: left;
  height: 50px;
  width: 300px;
  background-image: linear-gradient(40deg, #0ba360 0%, #3cba92 100%);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cart-price h2{
  display: block;
  position: relative;
  float:right;
  margin-right: 50px;
  width: 100px;
}

@keyframes float{
0% {transform: translateY(0px);}
50% {transform: translateY(-20px);}
100% {transform: translateY(0px);}
}


@media screen and (min-width: 1200px) {
  .rounded-background-box {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 712px){
  .rounded-background-box {
    width: 700px;
  }
}

@media screen and (max-width: 712px) {
  .rounded-background-box {
    width: 400px;
    height: 750px;
  }
}

.mobile .tablet {
  width: 350px;
  top: 80px;
}

.mobile .right-rounded-column {
  width: 400px;
}

.mobile .product-info {
  margin-top: 220px;
}

.mobile .cart-price {
  display: grid;
  width: 400px;
  margin-top: 30px;
  text-align: center;
}
.mobile .cart-price h2{
  float: none;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}